<p>Location Info:</p>

<div class="container c">
    <table class="table table-striped">
      <thead>
          <tr>
            <th>Id</th>
            <th>Location</th>
            <th>Description</th>
            <th> Action </th>           
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let location of locationData;">
          <td>{{ location.id }}</td>
          <td>{{ location.name }}</td>
          <td>{{ location.description }}</td>
          <td><button (click)="deleteLocation(location.id)"> Delete </button></td>
          <td><button (click)="toggleShowAddForm(location.id)"> Edit </button></td>
        </tr>
      </tbody>
    </table>
    <br>
    <div> 
        <span>Actions : </span>
        <button class="insert_location" (click)="toggleShowAddForm('add')"> Add Location</button> 
        
    </div>
    <br>
    <div *ngIf="isShowAddLocForm" class="row container-fluid add-location"  id="divshow" >
        <h3> Add Location:</h3>
        <form [formGroup]="locationForm" (submit)="onSubmit()">
            <div>
              <label for="location_name">
                Location name:
              </label>
              <input id="location_name" type="text" formControlName="location_name" >
              <span class="text-danger"
                    *ngIf="(locationFormControl.location_name.touched || submitted) && locationFormControl.location_name.errors?.required">
                    Name is required
                </span>
            </div>
          
            <div>
              <label for="location_description">
                Description :
              </label>
              <input id="location_description" type="text" formControlName="location_description">
              <span class="text-danger"
                    *ngIf="(locationFormControl.location_description.touched || submitted) && locationFormControl.location_description.errors?.required">
                    Description is required
                </span>
            </div>
            <br>
            <button class="button" type="submit"> Submit</button>
            <button class="button" (click)="hideForm()"> Hide</button>
          
          </form>
    </div>
  </div>
