<p>Category Info:</p>

<div class="container c">
    <table class="table table-striped">
      <thead>
          <tr>
            <th>Id</th>
            <th>Category</th>
            <th>Description</th>
            <th> Action </th>           
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let model of modelData;">
          <td>{{ model.id }}</td>
          <td>{{ model.name }}</td>
          <td>{{ model.description }}</td>
          <td><button (click)="deletemodel(model.id)"> Delete </button></td>
          <td><button (click)="toggleShowAddForm(model.id)"> Edit </button></td>
        </tr>
      </tbody>
    </table>
    <br>
    <div> 
        <span>Actions : </span>
        <button class="insert_model" (click)="toggleShowAddForm('add')"> Add Category</button> 
        
    </div>
    <br>
    <div *ngIf="isShowAddCatForm" class="row container-fluid add-model"  id="divshow" >
        <h3> Add Record:</h3>
        <form [formGroup]="modelForm" (submit)="onSubmit()">
            <div>
              <label for="model_name">
                Name:
              </label>
              <input id="model_name" type="text" formControlName="model_name" >
              <span class="text-danger"
                    *ngIf="(modelFormControl.model_name.touched || submitted) && modelFormControl.model_name.errors?.required">
                    Name is required
                </span>
            </div>
          
            <div>
              <label for="model_description">
                Description :
              </label>
              <input id="model_description" type="text" formControlName="model_description">
              <span class="text-danger"
                    *ngIf="(modelFormControl.model_description.touched || submitted) && modelFormControl.model_description.errors?.required">
                    Description is required
                </span>
            </div>
            <br>
            <button class="button" type="submit"> Submit</button>
            <button class="button" (click)="hideForm()"> Hide</button>
          
          </form>
    </div>
  </div>
